@import url("https://fonts.googleapis.com/css?family=Montserrat:500");

.desktop-4 .overlap-group {
  margin: auto;
  border: 3px solid rgb(0, 0, 0);
  background-color: white;
  min-height: 400px;
  padding: 30px 62px;
  width: 707px;
}
.desktop-4 .rectangle-7 {
  color: rgba(0, 178, 255, 1);
  font-family: "Mitr-Medium", Montserrat;
  font-size: 50px;
  font-style: normal;
  font-weight: 500;
}
.desktop-4 .text-1 {
  height: 150px;
  letter-spacing: .1px;
  margin-top: 21px;
  min-height: 150px;
  width: 514px;
}
.mitr-medium-black-13px {
  color: black;
  font-family: "Mitr-Medium", Montserrat;
  font-size: 13px;
  font-style: normal;
  font-weight: 500;
}
.valign-text-middle {
  display: flex;
  justify-content: center;
}
