@import url("https://fonts.googleapis.com/css?family=Montserrat:500");

.desktop-4 .overlap-group {
  margin: auto;
  padding: 30px 62px;
  border-radius: 25px;
  border: 8px solid rgb(27, 209, 255);
  background-color: rgb(255, 255, 255);
  padding: 50px 50px;
  box-shadow: 10px 10px 18px #2e2e2e;
}
.desktop-4 .rectangle-7 {
    color: var(--azure-radiance);
    font-family: "Mitr", Helvetica, Arial, serif;
    font-size: 50px;
    font-style: normal;
    font-weight: 600;
}
.desktop-4 .text-1 {
  height: 150px;
  letter-spacing: .1px;
  margin-top: 21px;
  min-height: 150px;
  width: 514px;
  line-height: 1.2;
}
.mitr-medium-black-13px {
  color: black;
  font-family: "Mitr-Medium", Montserrat;
  font-size: 13px;
  font-style: normal;
  font-weight: 500;
  line-height: 1.2;
}
.valign-text-middle {
  display: flex;
  justify-content: center;
}
