@import url("https://fonts.googleapis.com/css?family=Montserrat:500");

.desktop-4 {
  align-items: flex-start;
  display: flex;
}
.desktop-4 .overlap-group {
  align-items: flex-end;
  background-size: 100% 100%;
  display: flex;
  flex-direction: column;
  margin-top: 259.78px;
  min-height: 545px;
  padding: 30px 62px;
  width: 707px;
}
.desktop-4 .rectangle-7 {
  align-self: center;
  height: 156px;
  margin-left: 62px;
  object-fit: cover;
  width: 99px;
}
.desktop-4 .text-1 {
  height: 220px;
  letter-spacing: 0px;
  margin-top: 21px;
  min-height: 220px;
  width: 514px;
}
.mitr-medium-black-13px {
  color: black;
  font-family: "Mitr-Medium", Montserrat;
  font-size: 13px;
  font-style: normal;
  font-weight: 500;
}
.valign-text-middle {
  display: flex;
  flex-direction: column;
  justify-content: center;
}
