@import url("https://cdnjs.cloudflare.com/ajax/libs/meyer-reset/2.0/reset.min.css");
@import url("https://fonts.googleapis.com/css?family=Mitr:700");

.desktop-3 {
  margin: auto;
  display: flex;
  justify-content: center;
  align-items: center;
}
.desktop-3 .flex-col {
  align-items: center;
  display: flex;
  flex-direction: column;
  margin-top: 95px;
  min-height: 842px;
  width: 715px;
}
.desktop-3 .proj-title {
  color: var(--azure-radiance);
  font-family: "Mitr", Helvetica, Arial, serif;
  font-size: 50px;
  font-style: normal;
  font-weight: 600;
}
.desktop-3 .js-journal {
  font-family: 'Montserrat', sans-serif;
  border-radius: 25px;
  margin: auto;
  border: 8px solid rgb(27, 209, 255);
  background-color: rgb(255, 255, 255);
  padding: 50px 50px;
  box-shadow: 10px 10px 18px #2e2e2e;
}
.desktop-3 .recipe {
  font-family: 'Montserrat', sans-serif;
  border-radius: 25px;
  margin: auto;
  border: 8px solid rgb(27, 209, 255);
  background-color: rgb(255, 255, 255);
  padding: 50px 50px;
  box-shadow: 10px 10px 18px #2e2e2e;
}
.desktop-3 .rails-journal {
  font-family: 'Montserrat', sans-serif;
  border-radius: 25px;
  margin: auto;
  border: 8px solid rgb(27, 209, 255);
  background-color: rgb(255, 255, 255);
  padding: 50px 50px;
  box-shadow: 10px 10px 18px #2e2e2e;
}
.desktop-3 .p-r-o-j-e-c-t-s {
  letter-spacing: 0px;
  margin-top: 152px;
  min-height: 675px;
  pointer-events: auto;
  text-align: center;
  transition: all 0.2s ease;
}
.desktop-3 .p-r-o-j-e-c-t-s:hover {
  transform: translate(0, -5px);
}
.mitr-bold-black-48px {
  color: black;
  font-family: "Mitr", Helvetica;
  font-size: 48px;
  font-style: normal;
  font-weight: 700;
}
