body {
    background-image: url("https://anima-uploads.s3.amazonaws.com/projects/60395e34f57919ae2cbe4ab0/releases/603d257d66dd3ff4904eed0a/img/desktop---2@1x.svg");
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-position: center;
    background-size: cover;
    height: 100vh;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    grid-template-rows: 1fr 1fr 1fr 1fr;
}

.desktop-4 {
    grid-column: 3/4;
    grid-row: 1/2;
}
.group-1 {
    grid-column: 2;
    grid-row: 2;
}
.desktop-3 {
    grid-column: 1/4;
    grid-row: 3/4;
}