body {
    background-image: url("https://anima-uploads.s3.amazonaws.com/projects/60395e34f57919ae2cbe4ab0/releases/603d257d66dd3ff4904eed0a/img/desktop---2@1x.svg");
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-position: center;
    background-size: cover;
}
.main {
    height: 100vh;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr;
    grid-template-rows: 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr;
    grid-template-areas:
        ". . . . . . . . ."
        ". . . . . . . . ."
        ". . box1 box1 box2 box2 box2 . ."
        ". . box1 box1 box2 box2 box2 . ."
        ". . box1 box1 box2 box2 box2 . ."
        ". . . . . . . . ."
        ". . box3 box3 box3 box3 box3 . ."
        ". . . . . . . . ."
        ". . . . . . . . .";
}
.desktop-4 {
    grid-area: box2;
}